button {
  background-color: rgba(29, 157, 38, 0.792);
  color: white;
  border-radius: 4%;
}

button:hover {
  color: aquamarine;
  background-color: beige;
}

button:active {
  color: blue;
  background-color: black;
}

section {
  margin: 1rem 0;
}

#titulo {
  text-align: center;
  color: rgba(29, 157, 38, 0.792);
  font-weight: 600;
  font-family: "Times New Roman";
}

.quadrado {
  background-color: red;
  margin-left: 1.5rem;
  width: 5rem;
  height: 5rem;
}

.quadrado:hover {
  animation: giro;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes giro {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
